.pricing_section {
    padding: 50px 0;
}

.pricing_section_title {
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: var(--primary-fontFamily);
    text-transform: uppercase;
    text-align: center;
}

.pricing_section_peragraph {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: justify;
    font-style: italic;
    word-spacing: -3px;
    padding: 5px 0 15px 0;
    font-family: var(--secondery-fontFamily);
    text-align: center;
}

.price_card {
    border: none;
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.price_card_box {
    background-color: var(--primary-color);
    padding: 10px;
}

.price_card_box h4 {
    color: white;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: var(--primary-fontFamily);
    text-transform: uppercase;
    text-align: center;
}

.price_card_box span {
    color: white;
    font-size: 18px;
    font-weight: 600;
    font-family: var(--secondery-fontFamily);
    display: block;
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.price_card>ul>li>i {
    color: var(--primary-color);
}

.price_card_btn {
    color: white;
    display: block;
    width: 100%;
    background-color: var(--primary-color);
    border: 1px solid white;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    font-family: var(--primary-fontFamily);
    transition: all 0.4s ease-in-out;
    margin-bottom: 10px;

    &:hover {
        color: var(--primary-color);
        background-color: white;
        border: 1px solid var(--primary-color);
    }
}



/* Frequently Asked Questions Start */
.prequently_ask_question {
    padding: 50px 0;
    background-color: #F5F5F5;
}

.accordion-button {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: var(--primary-fontFamily);
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: var(--primary-color);
}

.accordion-body p {
    font-weight: 300;
    font-style: italic;
    font-family: var(--secondery-fontFamily);
}

/* communicate directly */
.communicate_directly {
    padding: 30px 0;
    background-color: var(--primary-bg-color);
}

.communicate_directly_title {
    color: white;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: var(--primary-fontFamily);
}

.communicate_directly_btn_box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px 0;
    background-color: white;
}

.communicate_directly_btn_box i {
    color: var(--primary-color);
}

.communicate_directly_btn_box a {
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: var(--secondery-fontFamily);
    display: block;
}

.communicate_directly_btn_box:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.communicate_directly_btn_box:hover a {
    color: white;
    transition: all 0.3s ease-in-out;
}

.communicate_directly_btn_box:hover i {
    color: white;
    transition: all 0.3s ease-in-out;
}