/* Extra small devices (phones) */
@media only screen and (max-width: 600px) {
    .navbar_brand_logo {
        max-width: 40%;
    }

    .nav_get_free_btn {
        display: block;
        text-align: center;
    }
}